.planets_section {
  height: 920px;
  background-image: linear-gradient(#03034be1, #03324bb6);
  margin-top: 10px;
}

.tabButtons {
  margin-bottom: 50px;
}

.tabButtons button {
  font-size: 32px;
  padding: 10px 16px;
  margin: 15px 15px;
  border-radius: 8px;
  background-color: rgb(61, 112, 138);
  color: #ffffff;
  transition: all 0.25s;
  cursor: pointer;
  width: 250px;
}

.tabButtons button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.main {
  display: flex;
  justify-content: center;
}

.planet {
  width: 600px;
  border-radius: 100px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: planetEntrance 30s; */
  animation: planetEntrance 10s linear infinite;
  
}

@keyframes planetEntrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes planetEntrance {
  0% { -webkit-transform: rotate(0deg);
       opacity: 0;
     }
  100% { -webkit-transform: rotate(360deg); 
          opacity: 1;}
  }

  @keyframes planetEntrance {
    0% { transform: rotate(0deg); }
    100% { transform: rotateX,Y,Z(360deg); }
  }

  /* 
     100% { transform: rotate(360deg);
     100% { transform: rotateX(360deg);
      100% { transform: rotateZ(360deg);
  */




.descriptions {
  width: 2500px;
  margin-left: 1px;
  overflow-x: hidden;
}

.description_title {
  font-size: 32px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
  text-align: left;
  font-weight: bold;
  animation: titleEntrance 1s;
}

@keyframes titleEntrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.description_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.description_list li {
  padding: 8px 16px;
  text-align: left;
  font-size: 21px;
  color: #000000;
  opacity: 1;
  animation: textEntrance 1s ease-out;
  animation-fill-mode: both;
  
}

.description_list li:nth-child(1) {
  animation-delay: 0s;
 
}

.description_list li:nth-child(2) {
  animation-delay: 0.2s;
}

.description_list li:nth-child(3) {
  animation-delay: 0.4s;
}

.description_list li:nth-child(4) {
  animation-delay: 0.6s;
}

.description_list li:nth-child(5) {
  animation-delay: 0.8s;
}
@keyframes textEntrance {
  0% {
    transform: translatex(350px);
    opacity: 0;
  }

  50% {
    transform: translatex(40px);
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.description_list li:last-child {
  border-bottom: none;
}